In [1]:
!pip install pymysql mysql-connector-python nltk scikit-learn

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp311-cp311-win_amd64.whl.metadata (2.0 kB)
Requirement already satisfied: nltk in c:\users\shash\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: scikit-learn in c:\users\shash\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: click in c:\users\shash\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\shash\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\shash\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\shash\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\shash\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\shash\anaconda3\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\shash\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: colorama in c:\users\shash\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   ---------------------------------------- 45.0/45.0 kB 2.2 MB/s eta 0:00:00
Downloading mysql_connector_python-9.0.0-cp311-cp311-win_amd64.whl (14.3 MB)
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   - -------------------------------------- 0.5/14.3 MB 9.4 MB/s eta 0:00:02
   -- ------------------------------------- 0.7/14.3 MB 9.3 MB/s eta 0:00:02
   -- ------------------------------------- 0.9/14.3 MB 7.4 MB/s eta 0:00:02
   -- ------------------------------------- 1.0/14.3 MB 6.6 MB/s eta 0:00:03
   -- ------------------------------------- 1.0/14.3 MB 6.6 MB/s eta 0:00:03
   -- ------------------------------------- 1.0/14.3 MB 6.6 MB/s eta 0:00:03
   --- ------------------------------------ 1.2/14.3 MB 3.7 MB/s eta 0:00:04
   --- ------------------------------------ 1.2/14.3 MB 3.7 MB/s eta 0:00:04
   ----- ---------------------------------- 1.9/14.3 MB 4.4 MB/s eta 0:00:03
   ----- ---------------------------------- 2.1/14.3 MB 4.4 MB/s eta 0:00:03
   ------ --------------------------------- 2.2/14.3 MB 4.5 MB/s eta 0:00:03
   ------ --------------------------------- 2.4/14.3 MB 4.3 MB/s eta 0:00:03
   ------- -------------------------------- 2.6/14.3 MB 4.3 MB/s eta 0:00:03
   ------- -------------------------------- 2.7/14.3 MB 4.3 MB/s eta 0:00:03
   ------- -------------------------------- 2.7/14.3 MB 4.3 MB/s eta 0:00:03
   ------- -------------------------------- 2.7/14.3 MB 3.6 MB/s eta 0:00:04
   ------- -------------------------------- 2.7/14.3 MB 3.6 MB/s eta 0:00:04
   -------- ------------------------------- 3.0/14.3 MB 3.6 MB/s eta 0:00:04
   --------- ------------------------------ 3.5/14.3 MB 3.9 MB/s eta 0:00:03
   ---------- ----------------------------- 3.7/14.3 MB 3.9 MB/s eta 0:00:03
   ---------- ----------------------------- 3.9/14.3 MB 3.9 MB/s eta 0:00:03
   ----------- ---------------------------- 4.0/14.3 MB 3.9 MB/s eta 0:00:03
   ----------- ---------------------------- 4.1/14.3 MB 3.9 MB/s eta 0:00:03
   ----------- ---------------------------- 4.1/14.3 MB 3.9 MB/s eta 0:00:03
   ----------- ---------------------------- 4.2/14.3 MB 3.6 MB/s eta 0:00:03
   ------------- -------------------------- 4.8/14.3 MB 3.9 MB/s eta 0:00:03
   ------------- -------------------------- 4.9/14.3 MB 3.9 MB/s eta 0:00:03
   -------------- ------------------------- 5.1/14.3 MB 3.9 MB/s eta 0:00:03
   -------------- ------------------------- 5.3/14.3 MB 3.8 MB/s eta 0:00:03
   --------------- ------------------------ 5.4/14.3 MB 3.9 MB/s eta 0:00:03
   --------------- ------------------------ 5.7/14.3 MB 3.9 MB/s eta 0:00:03
   ---------------- ----------------------- 5.8/14.3 MB 3.8 MB/s eta 0:00:03
   ---------------- ----------------------- 6.0/14.3 MB 3.9 MB/s eta 0:00:03
   ----------------- ---------------------- 6.2/14.3 MB 3.8 MB/s eta 0:00:03
   ----------------- ---------------------- 6.3/14.3 MB 3.8 MB/s eta 0:00:03
   ------------------ --------------------- 6.5/14.3 MB 3.8 MB/s eta 0:00:03
   ------------------ --------------------- 6.7/14.3 MB 3.8 MB/s eta 0:00:03
   ------------------- -------------------- 6.9/14.3 MB 3.9 MB/s eta 0:00:02
   ------------------- -------------------- 7.1/14.3 MB 3.8 MB/s eta 0:00:02
   -------------------- ------------------- 7.2/14.3 MB 3.8 MB/s eta 0:00:02
   -------------------- ------------------- 7.4/14.3 MB 3.8 MB/s eta 0:00:02
   --------------------- ------------------ 7.6/14.3 MB 3.8 MB/s eta 0:00:02
   --------------------- ------------------ 7.8/14.3 MB 3.8 MB/s eta 0:00:02
   ---------------------- ----------------- 8.0/14.3 MB 3.8 MB/s eta 0:00:02
   ---------------------- ----------------- 8.2/14.3 MB 3.8 MB/s eta 0:00:02
   ----------------------- ---------------- 8.3/14.3 MB 3.8 MB/s eta 0:00:02
   ----------------------- ---------------- 8.5/14.3 MB 3.8 MB/s eta 0:00:02
   ------------------------ --------------- 8.7/14.3 MB 3.8 MB/s eta 0:00:02
   ------------------------ --------------- 8.9/14.3 MB 3.8 MB/s eta 0:00:02
   ------------------------- -------------- 9.1/14.3 MB 3.8 MB/s eta 0:00:02
   ------------------------- -------------- 9.3/14.3 MB 3.8 MB/s eta 0:00:02
   -------------------------- ------------- 9.5/14.3 MB 3.9 MB/s eta 0:00:02
   -------------------------- ------------- 9.6/14.3 MB 3.8 MB/s eta 0:00:02
   --------------------------- ------------ 9.8/14.3 MB 3.9 MB/s eta 0:00:02
   --------------------------- ------------ 10.0/14.3 MB 3.9 MB/s eta 0:00:02
   ---------------------------- ----------- 10.2/14.3 MB 3.8 MB/s eta 0:00:02
   ---------------------------- ----------- 10.4/14.3 MB 3.8 MB/s eta 0:00:02
   ----------------------------- ---------- 10.6/14.3 MB 3.8 MB/s eta 0:00:02
   ----------------------------- ---------- 10.7/14.3 MB 3.7 MB/s eta 0:00:01
   ------------------------------ --------- 10.9/14.3 MB 3.7 MB/s eta 0:00:01
   ------------------------------ --------- 11.0/14.3 MB 3.7 MB/s eta 0:00:01
   ------------------------------ --------- 11.0/14.3 MB 3.7 MB/s eta 0:00:01
   ------------------------------ --------- 11.1/14.3 MB 3.6 MB/s eta 0:00:01
   ------------------------------- -------- 11.2/14.3 MB 3.6 MB/s eta 0:00:01
   -------------------------------- ------- 11.7/14.3 MB 3.9 MB/s eta 0:00:01
   --------------------------------- ------ 11.9/14.3 MB 3.8 MB/s eta 0:00:01
   --------------------------------- ------ 12.0/14.3 MB 3.7 MB/s eta 0:00:01
   --------------------------------- ------ 12.2/14.3 MB 3.7 MB/s eta 0:00:01
   ---------------------------------- ----- 12.4/14.3 MB 3.7 MB/s eta 0:00:01
   ---------------------------------- ----- 12.5/14.3 MB 3.7 MB/s eta 0:00:01
   ----------------------------------- ---- 12.7/14.3 MB 3.7 MB/s eta 0:00:01
   ----------------------------------- ---- 12.8/14.3 MB 3.6 MB/s eta 0:00:01
   ------------------------------------ --- 12.9/14.3 MB 3.9 MB/s eta 0:00:01
   ------------------------------------ --- 13.1/14.3 MB 3.9 MB/s eta 0:00:01
   ------------------------------------ --- 13.3/14.3 MB 3.8 MB/s eta 0:00:01
   ------------------------------------- -- 13.4/14.3 MB 3.7 MB/s eta 0:00:01
   ------------------------------------- -- 13.6/14.3 MB 3.7 MB/s eta 0:00:01
   -------------------------------------- - 13.8/14.3 MB 3.6 MB/s eta 0:00:01
   -------------------------------------- - 13.9/14.3 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------  14.1/14.3 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.3 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 3.8 MB/s eta 0:00:01
   ---------------------------------------- 14.3/14.3 MB 3.6 MB/s eta 0:00:00
Installing collected packages: pymysql, mysql-connector-python
Successfully installed mysql-connector-python-9.0.0 pymysql-1.1.1

In [1]:
import pandas as pd

df=pd.read_csv("sample input dataset.csv")

# Display the first few rows of the DataFrame
print(df.head())

            Name            Contact Details       Location  \
0       John Doe       john.doe@example.com       New York
1     Jane Smith     jane.smith@example.com  San Francisco
2    Bob Johnson    bob.johnson@example.com       New York
3    Alice Brown    alice.brown@example.com        Chicago
4  Michael Green  michael.green@example.com         Boston

                         Job Skills Experience  \
0            Java; Big Data; Hadoop    5 years
1        JavaScript; React; Node.js    3 years
2       Java; Spring; Microservices    6 years
3  Python; Django; Machine Learning    4 years
4           Ruby; Rails; PostgreSQL    7 years

                                            Projects  \
0  Developed a big data processing system using H...
1  Built a real-time chat application using React...
2  Implemented a microservices architecture for a...
3  Created a machine learning model for predictiv...
4  Developed a scalable web application using Rub...

                           Comments  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  \
0    Strong problem-solving skills.         NaN         NaN         NaN  ...
1  Excellent in team collaboration.         NaN         NaN         NaN  ...
2    Proactive and detail-oriented.         NaN         NaN         NaN  ...
3         Strong analytical skills.         NaN         NaN         NaN  ...
4       Great leadership qualities.         NaN         NaN         NaN  ...

   Unnamed: 16  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

   Unnamed: 21  Unnamed: 22  Unnamed: 23  Unnamed: 24  Unnamed: 25
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

[5 rows x 26 columns]

In [3]:
import mysql.connector

# Connect to MySQL
connection = mysql.connector.connect(host='localhost',
                                         database='candidate',
                                         user='root',
                                         password='Dasari@1234' )
cursor = connection.cursor()


cursor.execute("CREATE DATABASE IF NOT EXISTS profile_matching")
cursor.execute("USE profile_matching")

# Create table
create_table_query = """
CREATE TABLE IF NOT EXISTS candidates (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255) NOT NULL,
    skills TEXT NOT NULL,
    experience INT NOT NULL
)
"""
cursor.execute(create_table_query)


connection.commit()

cursor.close()

True

In [4]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus


df = pd.read_csv('sample input dataset.csv')


print(df.columns)

# URL-encode the password
password = quote_plus('Dasari@1234')

connection_string = f'mysql+pymysql://root:{password}@localhost/profile_matching'

engine = create_engine(connection_string)

df.to_sql('candidates', con=engine, index=False, if_exists='replace')

Index(['Name', 'Contact Details', 'Location', 'Job Skills', 'Experience',
       'Projects', 'Comments', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

120

In [5]:
from urllib.parse import quote_plus
from sqlalchemy import create_engine


password = quote_plus('Dasari@1234')

connection_string = f'mysql+pymysql://root:{password}@localhost/profile_matching'

engine = create_engine(connection_string)

try:
    connection = engine.connect()
    print("Connection successful")
    connection.close()
except Exception as e:
    print(f"Connection failed: {e}")

Connection successful

In [6]:
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer

nltk.download('stopwords')
nltk.download('punkt')

def preprocess_text(text):
    tokens = nltk.word_tokenize(text.lower())
    tokens = [token for token in tokens if token.isalnum()]
    tokens = [token for token in tokens if token not in nltk.corpus.stopwords.words('english')]
    return ' '.join(tokens)

df['processed_skills'] = df['Job Skills'].apply(preprocess_text)  # Replace 'Skills' with the actual column name

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\dhruv\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\dhruv\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [7]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(df['processed_skills'])

In [23]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def match_profiles(job_description, top_n=10):
    processed_job_desc = preprocess_text(job_description)
    job_desc_vector = vectorizer.transform([processed_job_desc])
    similarities = cosine_similarity(job_desc_vector, X).flatten()
    top_indices = np.argsort(similarities)[-top_n:][::-1]
    return df.iloc[top_indices]

# Example job description
job_desc = """We are looking for a skilled  front end  Developer to join our dynamic team. The ideal candidate will have a
strong background in front-end development, with proficiency in HTML, CSS, JavaScript, and modern frameworks
like React or Angular. Your primary responsibility will be to create visually appealing and user-friendly web
interfaces that enhance user experience and align with our brand guidelines."""

# Get top 10 matching profiles
matching_profiles = match_profiles(job_desc)
print(matching_profiles)

               Name            Contact Details          Location  \
17       Grace King     grace.king@example.com     San Francisco
1        Jane Smith     jane.smith@example.com     San Francisco
77       Pam Beesly       pam.beesly@yahoo.com   Los Angeles, CA
118   Daisy Johnson  daisy.johnson@outlook.com     San Diego, CA
70     Hannah Baker   hannah.baker@hotmail.com  Philadelphia, PA
54      Ian Malcolm      ian.malcolm@yahoo.com       Houston, TX
111   Daisy Johnson  daisy.johnson@outlook.com      San Jose, CA
72        Bob Smith      bob.smith@hotmail.com   Los Angeles, CA
59   Oscar Martinez   oscar.martinez@gmail.com   Los Angeles, CA
81    Michael Scott    michael.scott@gmail.com       Chicago, IL

                             Job Skills Experience  \
17         JavaScript; Angular; Node.js    3 years
1            JavaScript; React; Node.js    3 years
77      JavaScript, Python, Java, React    3 years
118  Node.js, Kubernetes, React, Django    2 years
70         Java, React, Kubernetes, SQL    6 years
54         Kubernetes, Ruby, AWS, React   11 years
111                Go, SQL, React, Java   14 years
72         React, Django, Python, Flask   10 years
59    Python, Microservices, SQL, React    9 years
81              Flask, Go, React, Azure    3 years

                                              Projects  \
17   Created a single-page application using Angula...
1    Built a real-time chat application using React...
77                          Cloud infrastructure setup
118                         Microservices architecture
70                          Microservices architecture
54                                  Front-end redesign
111                              Legacy system upgrade
72                          Microservices architecture
59                                     API development
81                                  Front-end redesign

                             Comments  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
17       Great at team collaboration.         NaN         NaN         NaN
1    Excellent in team collaboration.         NaN         NaN         NaN
77           Strong leadership skills         NaN         NaN         NaN
118              Front-end specialist         NaN         NaN         NaN
70             Cloud computing expert         NaN         NaN         NaN
54               Front-end specialist         NaN         NaN         NaN
111          Skilled in microservices         NaN         NaN         NaN
72               Front-end specialist         NaN         NaN         NaN
59             Cloud computing expert         NaN         NaN         NaN
81            Machine learning expert         NaN         NaN         NaN

     ...  Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20  Unnamed: 21  \
17   ...          NaN          NaN          NaN          NaN          NaN
1    ...          NaN          NaN          NaN          NaN          NaN
77   ...          NaN          NaN          NaN          NaN          NaN
118  ...          NaN          NaN          NaN          NaN          NaN
70   ...          NaN          NaN          NaN          NaN          NaN
54   ...          NaN          NaN          NaN          NaN          NaN
111  ...          NaN          NaN          NaN          NaN          NaN
72   ...          NaN          NaN          NaN          NaN          NaN
59   ...          NaN          NaN          NaN          NaN          NaN
81   ...          NaN          NaN          NaN          NaN          NaN

     Unnamed: 22  Unnamed: 23  Unnamed: 24  Unnamed: 25  \
17           NaN          NaN          NaN          NaN
1            NaN          NaN          NaN          NaN
77           NaN          NaN          NaN          NaN
118          NaN          NaN          NaN          NaN
70           NaN          NaN          NaN          NaN
54           NaN          NaN          NaN          NaN
111          NaN          NaN          NaN          NaN
72           NaN          NaN          NaN          NaN
59           NaN          NaN          NaN          NaN
81           NaN          NaN          NaN          NaN

                   processed_skills
17               javascript angular
1                  javascript react
77     javascript python java react
118         kubernetes react django
70        java react kubernetes sql
54        kubernetes ruby aws react
111               go sql react java
72        react django python flask
59   python microservices sql react
81             flask go react azure

[10 rows x 27 columns]

In [25]:
if __name__ == "__main__":
    job_desc = input("Enter the job description: ")
    matching_profiles = match_profiles(job_desc)
    print("Top 10 matching profiles:")
    print(matching_profiles[['Name', 'processed_skills', 'Experience']])

Enter the job description: The research team at Verisk EES (Extreme Event Solutions) works on innovative research in AI for climate risk. They are looking for highly talented and motivated candidates passionate about doing industrial R&D, building, and deploying AI and ML solutions for real-world problems. You will play a critical part in expanding their model capabilities to improve their understanding and predictions of climate extremes and enhance the view of risk they provide to their clients. In this role you will be responsible for building, deploying, and validating machine learning algorithms to solve real-world climate problems, focusing initially on atmospheric-perils modeling. This role is a perfect blend between machine learning and climate science, and you will find in it many opportunities to express your technical skills and creative mindset
Top 10 matching profiles:
                 Name                                   processed_skills  \
74       Rachel Green               machine learning python c postgresql
44         Kyle Reese                  machine learning javascript flask
10       Chris Harris                      python flask machine learning
3         Alice Brown                     python django machine learning
89         Lara Croft             azure microservices c machine learning
96   Tina Cohen-Chang  postgresql kubernetes javascript machine learning
99         Pam Beesly                    go machine learning mongodb aws
43   Tina Cohen-Chang      kubernetes machine learning django postgresql
116     Charlie Brown                      flask aws machine learning go
37      Michael Scott               go flask kubernetes machine learning

    Experience
74     1 years
44     2 years
10     4 years
3      4 years
89     3 years
96    11 years
99     2 years
43     6 years
116   10 years
37     8 years